* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 95%);
}

.margin-header {
    background-color: #5F6369;
    width: 1360px;
    height: 50px;
    margin-left: 2px;
    margin-top: -3px;
    opacity: 0.7;
}

.boxes {
    margin-left: 11px;
    width: 30px;
    margin-top: 10px;
}

.telephone {
    margin-left: 20px;
    width: 31px;
}

.portfolio-link {
    margin-top: 100px;
    cursor: pointer;
    text-align: 50px;
    font-size: 42px;
    line-height: 19px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.contato-link {
    cursor: pointer;
    text-align: 50px;
    font-size: 42px;
    line-height: 19px;
    color: white;
    text-decoration: none;
    padding: 4px;
}

main {
    border: 2px solid black;
    border-radius: 49px;
    box-shadow: 1px 2px rgb(51, 50, 50);
    width: 300px;
    height: 255px;
    margin-top: 145px;
    margin-left: 528px;
}

.linkedin-pic {
    width: 59px;
    height: 52px;
    margin-top: 20px;
    margin-left: 113px;
}

.linkedin-pic:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.github-pic {
    width: 59px;
    height: 52px;
    margin-top: 20px;
    margin-left: 113px;
}

.github-pic:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.wpp-pic {
    width: 59px;
    height: 52px;
    margin-top: 20px;
    margin-left: 113px;
}

.wpp-pic:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
